body {
	color: #4C5454;
	font-family: "Open Sans", sans-serif;
	background-color:#FFFFFF !important;
}

#xlogin {
	border: 0px dotted #FFFFFF;
	background-color: #E7E7E7;
}

#xlogin h3, #xlogin .formNotice span, #xlogin .formNotice2 span, #xlogin .formNotice span:hover, #xlogin .formNotice span:focus
{
	color: #4C5454 !important;
}

.file-wrapper .ml-3
{
	color: #999999 !important;
}

.btn-primary
{
	background-color: #7D80DA !important;
	border-color: #7D80DA !important;
	color: #FFFFFF !important;
}

.success_bar, .notifyjs-bootstrap-success_bar
{
	background-color: #1EA896 !important;
	border-color: #1EA896 !important;
}

.error_bar, .notifyjs-bootstrap-error_bar
{
	background-color: #FF715B !important;
	border-color: #FF715B !important;
}

.error_msg_lbl
{
	color: #FF715B;
}

.notifyjs-bootstrap-base
{
	color: #FFFFFF !important;
}

.bg_profile
{
	background-color: #E7E7E7 !important;
}

#xlogin .input-group-addon
{
	background-color: #E7E7E7 !important;
}

.file-wrapper
{
	background-color: #FFFFFF;
}

.navbar-inverse
{
	color: #FFFFFF !important;
	background-color: #7D80DA !important;
}

.navbar-inverse .navbar-nav > .active > a
{
	/* background-color: #6064D2 !important; */
	background-color: #5054CE !important;
}

.navbar-inverse
{
	border-color: #7D80DA !important;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand
{
	color: #FFFFFF !important;
}